<header class="top-image">
  <div class="text-block">
    <div class="col-md-12">
      <h3>
        Winter Vibes &nbsp;&nbsp;
        <button type="button" class="btn btn-default auto-center rounded-circle">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </h3>

      <p>Cold & Brilliant Start
      </p>
      <p>$29.99</p>
    </div>
  </div>
</header>

<!--Popular-->
<section class="col-md-12 text-center padding-bottom-s">
  <div class="container shadow-lg">
    <h2 class="font-weight-light">Most Popular Items</h2>
    <div class="row padding-top-s">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-primary shadow-lg">
          <div class="panel-body">Image1 Goes Here</div>
          <div class="panel-footer">Infomation Goes Here</div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 shadow-sm">
        <div class="panel panel-primary shadow-lg">
          <div class="panel-body">Image2 Goes Here</div>
          <div class="panel-footer">Infomation Goes Here</div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-primary shadow-sm">
          <div class="panel-body">Image3 Goes Here</div>
          <div class="panel-footer">Infomation Goes Here</div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<!--Collections-->
<section class="col-md-12 text-center padding-bottom-s">
  <div class="container">
    <h2 class="font-weight-light">Collections</h2>

    <div class"row">
      <!--Wide Panel-->
      <a class="clear-text-color" href="#">
        <div class="row padding-top-s">
          <div class="col-xs-12">
              <div class="panel panel-default panel-size-m">
                  <div class="panel-body">
                    <h3>New</h3>
                  </div>
              </div>
          </div>
        </div>
      </a>

      <div class="row">
        <!--Short Panels -->
        <div class="col-xs-6 panel-group">
            <div class="panel panel-default panel-size-m">
                <div class="panel-body">
                  <h3>Men</h3>
                </div>
            </div>

            <div class="panel panel-default panel-size-m">
                <div class="panel-body">
                  <h3>Women</h3>
                </div>
            </div>
        </div>

        <!--Long Panel-->
        <div class="col-xs-6">
            <div class="panel panel-default panel-size-l">
                <div class="panel-body">
                    <h3>Children</h3>
                </div>
            </div>
        </div>
      </div>

    </div>

  </div>
</section>

<hr>

<!--Newsletter-->
<section class="col-md-12 text-center">
  <div class="container text">
    <h2 class="font-weight-light">Newsletter</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.</p>
  </div>
</section>