<section class=text-center>
  <!--Header-->
  <div class="container">
    <div class="col-md-12 text-center header-txt">
      <h1>The World of Online Shopping in your fingertips.</h1>
      <h2>Login to access shopping features.</h2>
    </div>
  </div>

  <!--Buttons-->
  <div class="container">
    <div class="col-md-12 text-center paddings">
      <div class="btn btn-block btn-warning clear-colour">
        <%= link_to 'Login', new_user_session_path, :class => "btn" %>
      </div>
    </div>
    <div class="col-md-12 text-center paddings">
      <div class="btn btn-block btn-info clear-colour">
        <%= link_to "Connect Twitter", "/auth/twitter", method: :post, :class => "btn" %>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to 'New to us? Sign Up!', new_user_registration_path %>
    </div>
  </div>

</section>