<section class=text-center>
  <!--Header-->
  <div class="container">
    <div class="col-md-12 text-center header-txt">
      <h1>The World of Online Shopping in your fingertips.</h1>
      <h2>Login to access shopping features.</h2>
    </div>
  </div>

  <!--Buttons-->
  <div class="container">
    <div class="col-md-12 text-center paddings">
      <button type="button" class="btn btn-block">Login</button>
    </div>
    <div class="col-md-12 text-center paddings">
      <%= link_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-block" %>
    </div>
    <div class="col-md-12 text-center">
      <a href="/sign_up"><p>New to us? Sign Up!</p></a>
    </div>
  </div>

</section>