<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to JustAnotherOnlineStore</h1>
    <p>
      Thanks so much for joining our newsletter!
    </p>
    <p>Have a great day!</p>
  </body>
</html>