// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.padding-bottom-s {
  padding-bottom: 5vh;
}

.padding-bottom-m {
  padding-bottom: 15vh;
}

.padding-top-s {
  padding-top: 5vh;
}

.region-border {
    border: 1px solid;
    border-radius: 16px;
}