// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-dark-transparent {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.top-image {
  position:relative;
  height: 50vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-block {
  position: absolute;
  bottom: 60px;
  left: 30px;
  background-color: rgba(10,10,10, 0.6);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

// Popular

.padding-bottom-s {
  padding-bottom: 5vh;
}

.padding-bottom-m {
  padding-bottom: 15vh;
}

.padding-top-s {
  padding-top: 5vh;
}

.red {
  background-color: red;
}

.block {
	width: 306px;
	height: 230px;
}

// Collections
.panel-size-l {
  min-height: 40vh;
}

.panel-size-m {
  min-height: 20vh;
}

.panel-size-s {
  min-height: 10vh;
}

.clear-text-color {
  color: black;
}

.full-height {
  height: 100%;
}

.email-form {
  width: 80vw;
}

.post-content {
    margin: 0 auto;
    text-align: center;
    position: relative;
    width: 40%;
}

.thumbnail {
  position: relative;
}

.panel-body {
  padding: 0 !important;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
}
.panel-container {
  position: relative;
  text-align: center;
  border: 0px;
}

.clear-panel {
  border: 0 !important;
}

.section-header {
  font-size: min(max(3vw, 60px));
}

.panel-text {
  font-size: min(max(3vw, 60px));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.see-all-parent {
  display: table;
}

.see-all {
  float: none;
  display: table-cell;
  vertical-align: bottom;

}

img {
  filter: blur(1px);
  z-index:-1;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(1,0,0,0.1) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0.4) 100%);
}

panel-container {
  display:inline-block;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
}

.panel-container {
  position: relative;
  text-align: center;
  border: 0px;
}

.clear-panel {
  border: 0 !important;
}

.section-header {
  font-size: min(max(3vw, 60px));
}

.panel-text {
  font-size: min(max(3vw, 60px));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.see-all-parent {
  display: table;
}

.see-all {
  float: none;
  display: table-cell;
  vertical-align: bottom;

}

img {
  filter: blur(1px);
  z-index:-1;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(1,0,0,0.1) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(255,255,255,0.4) 100%);
}

panel-container {
  display:inline-block;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
}

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
