// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-dark-transparent {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.top-image {
  position:relative;
  height: 50vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-block {
  position: absolute;
  bottom: 60px;
  left: 30px;
  background-color: rgba(10,10,10, 0.6);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

// Popular

.padding-bottom-s {
  padding-bottom: 5vh;
}

.padding-top-s {
  padding-top: 5vh;
}

.red {
  background-color: red;
}

.block {
	width: 306px;
	height: 230px;
}

// Collections
.panel-size-l {
  min-height: 40vh;
}

.panel-size-m {
  min-height: 20vh;
}

.panel-size-s {
  min-height: 10vh;
}

.clear-text-color {
  color: black;
}

.full-height {
  height: 100%;
}

.panel-body {
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
}

.main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
