// Place all the styles related to the user-prompt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.paddings {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-text {
  padding-top: 10vh;
}

.clear-colour {
  color: white;
}